body{
    margin: 0px;
    background-color: rgb(251, 188, 19);
    font-family: 'Mark--Bold' ,sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 19px;
    /* margin-bottom: 1000px; */
}

.header{
    width: 1166px;
    height: 100px;
    background-color:rgb(255, 230, 0);
    margin-left: 89px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-img{
    /* width: 70px; */
    margin: 0px 12px;
    width: 99px;
}

.header button{
    background-color: rgb(255, 230, 0);
    border: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -1;
    cursor: pointer;
    padding: 15px 10px 8px 12px;
    border-radius: 30px;
    margin-left: 10px;

}

.header button:hover{
    background-color: rgb(219, 41, 29);
    color: white;
}

.header button:active{
    background-color: rgb(219, 41, 29);
    color: white;
}
.lang-btn{
    border: 1px  solid;
    border-color: black;
    background-color: rgb(255, 230, 0);

}

.lang-btn:hover{
    background-color: rgb(219, 41, 29);

}
.search-btn{
    margin-right: 15px;
    cursor: pointer;
}
/* .nav-bar{
    background-color: #fbb517;
    width: 100%;
    height: 30px;
    position: fixed;

} */
.home-section{
    width: 1166px;
    object-fit: contain;
    margin: 25px 0px 20px 89px;
}

.products-section{
    position: relative;
    /* width: 1163px; */
    /* object-fit: contain; */
    margin-left:  89px;
    margin-bottom: 20px;
    display: grid;
}


.products-section-img{
    width: 1166px;
    height: 380px;
}

.heading{
    font-size: 55px;
    font-weight: 600;
    position: absolute;
    color: white;
    padding-left: 80px;
    margin-top: -35px;
}
.product-items{
    width: 336px;
    height: 525px;
    position: absolute;
    margin: 160px 0px 0px 80px;
     /* align-self: center; */
     display: flex;
     cursor: pointer;
}
.product-img-bottom{
    margin-bottom: 20px;
    width: 336px;
    height: 336px;
    object-fit: cover;
}

.product-items-orange{
    background-color:#f8931f;
}
.product-items-blue{
    width: 336px;
    /* height: 336px; */
    background-color:rgb(130,217,238);
}
.product-items-dark-blue{
    background-color: rgb(57,58,110);
}
.text-white{
  color: white;
  font-size: 34px;
  /* line-height: 39px; */
  padding-left: 12px;
  margin-top: 20px;
}
.span-text{
    color: white;
    font-size: 25px;
    padding-left: 12px;
}
.view-all-btn{
    margin-top: 25px;
    margin-left: 12px;
    background-color: rgb(219, 41, 29);
    border: none;
    padding: 10px 30px 10px 30px;
    font-size: 17px;
    color: white;
    border-radius: 24px;
    cursor: pointer;
}

.product-items button:hover{
    background-color: rgb(255, 230, 0);
    color: black;
}

.recipe-section{
    position: relative;
    margin-left: 89px;
    width: 1168px;
    height: 650px;
}
.recipe-section-img{
    position: absolute;
    width: 100%;
    height: 650px;
    
}
.recipe-heading{
    position: absolute;
    /* top: 0; */
    width: 1010px;
    margin: 73px ;
}

.recipe-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    /* width: 1010px; */
    /* height: 456px; */
    margin: 180px 0px 0px 74px;
    column-gap: 15px;
    cursor: pointer;
}
.recipe-img{
    background-color:  #fee002;
    
}

.recipe-bottom{
    background-color:  #fee002;
    
}
.recipe-btn-grid{ 
    margin-left: 35px;
}
.recipe-text{
    margin-left: 32px;
    line-height: 29px;
   
}
.recipe-bottom-content{
    width: 280px;
    
}

.view-recipe-btn{
    background-color:#da291c;
    border: none;
    padding: 12px 34px;
    border-radius: 30px;
    margin-right: 70px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.view-recipe-btn:hover{
    color: black;
    background-color: rgb(57, 178, 226);
}
.review-star{
    width: 20px;
    color: black;
}
.reccipe-heading{
    /* position: absolute; */
    font-size: 90px;
    font-weight: 600;
    color: white;
    margin-top: -19px;
}

.video-section{
    position: relative;
    margin-top: 60px;
    margin-left: 89px;
    width: 1170px;
    height: 629px;
}
.video-bg{
    position: absolute;
    width: 100%;
    height: 100%;
}
/* .video-bg2{
    position: absolute;
    margin-top: 100px;
} */
.video-heading-container{
    position: absolute;
    margin-left: 80px;
    /* margin-top: 40px; */
    /* width: 1010px;
    height: 95px; */
    
}

.video-container{
    position: absolute;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    margin: 180px 0px 0px 79px;
    width: 1010px;
    height: 390px;
}


.video-heading-style{
    font-size: 90px;
    color: white;
}

.video-content-text{
    color: white;
    margin-left: 85px;
    white-space: nowrap;
}

.video-view-more-btn{
  color: white;
  background-color: #da291c;
  border: none;
  width: 150px;
  height: 42px;
  border-radius: 30px;
  margin-left: 140px;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 600;
}

.video-view-more-btn:hover{
    background-color: #fee002;
    color:  black;
}

.social-section{
    position: relative;
    margin-left: 89px;
    margin-top: 30px;
    width: 1170px;
    height: 570px;
}
.social-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    width: 1000px;
    height: 330px;
    /* background-color: darkcyan; */
    margin: 180px 0px 0px 79px;
    /* column-gap: 12px; */
}

.grid-img{
    width: 98%;
    height: 320px;
    cursor: pointer;
}
.grid-img-4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    column-gap: 8px;
    row-gap: 8px;
}

.grid-img4{
    width: 159px;
    height: 157px;
}

.small-image{
    width: 100%;
    height: 100%;
}
.social-section-img{
    position: absolute;
    width: 100%;
    height: 100%;
    
}
.footer-container{
    display: grid;
    position: relative;
    width: 1170px;
    height: 174px;
    margin-top: 20px;
    margin-left: 89px;
}

.contact-us{
    position: absolute;
  width: 100px;
  height: 100px;
  /* background-color: #da291c;   */
}

.bottom-btns{
   /* width: 900px; */
   /* height: 38px; */
   margin-left:250px;
   margin-right: 250px;
   margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-btns button{
    display: flex;
    border: none;
    color: black;
    background-color: rgb(251, 188, 19);
    padding: 12px;
}
.bottom-btns button:hover{
    background-color: #da291c;
    color: white;
}
.bottom-logo{
    display: flex;
    width: 1170px;
    height: 90px;
    margin-left: 89px;
    margin-top: 20px;
    justify-content: center;
}
.copyright{
    display: flex;
    font-size: 12px;
    justify-content: center;
    font-weight: 100;
}
